/*-------------------------MEDIA QUERIES------------------------*/

@media screen and (max-width:320px){
  p{font-size: 11px;}
  h2{font-size: 20px;}
  h3{font-size: 20px;}

/*----------------------------NAVIGATION------------------------*/
body
{
  background:#fff;
  margin:0;
  padding:0;
}

nav{
  display: flex;
  flex-direction: column;
  position: absolute;

}

nav a
{
  color:#50b2d5;
  text-decoration:none;
}

.material-icons
{
  font-
  size:24px;
  margin-right:12px;
  vertical-align:text-bottom;
}
.burger{
  display: block;
}

.menu
{
  display: block;
  color:#50b2d5;
  height:3em;
  position:relative;
  margin-top: 0px;
}

.menu .title
{
  font-size:30px;
  font-weight:bold;
  line-height:50px;
  padding:0 20px;
  text-transform:uppercase;
}

.menu nav
{
  background:inherit;
  font-size:20px;
  font-weight:bold;
  height:0;
  overflow:hidden;
  text-transform:uppercase;
  transition:height .2s;
}

.menu nav > *
{
  display:block;
  letter-spacing:1px;
  line-height:2.5;
  padding:0 20px;
  width:100%;
}

.menu nav input
{
  background:rgba(0,0,0,.2);
  border:none;
  color:#50b2d5;
}

.menu .burger
{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-size:30px;
  line-height:50px;
  margin:0;
  outline:0;
  padding:0;
  position:absolute;
  text-align:center;
  top:0;
  right:10px;
  width:80px;
}

.menu .burger:before
{
  content:'menu';
}

.menu .burger:checked:before
{
  content:'close';
}

.menu .burger:checked + nav
{
  height:calc(100vh - 50px);
}

/*---------------------------------HEADER-----------------------------*/

.logo img{
  width: 50%;
}



/*----------------------TITRE---------------*/

.title {
  height: 7em;
  font-size: 13px;
  margin-top: -330px;
  margin-left: 0px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title h1{
  width: 100%;
  font-size: 20px;
  color: black;
  text-align: center;
}

.title p{
  color: black;
  margin-bottom: 10px;
  margin:0;
  padding:5px;
  text-align: center;
}


/*-------------------BOUTON INFORMATION----------*/
.informations{
  background-color: #5badd3;
  width: 34%;
  height: 30px;
  border: 1px solid #5badd3;
  border-radius: 3px / 3px;
  margin-left: 0px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.informations a{
  font-size: 16px;
}

/*--------------------------HOME---------------------------*/

#home{
  background-size: cover;
  height: 115px;
  margin-top: 140px
}
/*----------------BOUTON PRECEDENT/ NEXT SLIDER ------------*/
#previous_bouton, #next_bouton{
  top: 41%;
  height: 6%;
  width: 6%;
}

#next_bouton{
  right: -4%;
}

#next_bouton a{
  right: 7px;
}

#previous_bouton{
  left: -4%;
}
#previous_bouton a{
  left: 7px;
}
/*-------------------------SECTION SERVICE-------------------*/
#services{
  height: 46em;
}
/*------------------------TITRE SERVICE-----------------------*/
.service_title p{
  width: 82%;
  text-align: justify;
  padding: 0;
  margin-right: 9px;
}

/*------------------------------SEPARATEUR----------------------*/
.space_bar{
  width: 50px;
}

.tab li {
  flex-wrap: wrap;
  margin-right: 50px;
}

/*------------------------IMG SERVICE---------------------------*/
.picture {
  margin-top: 300px;
 display:flex;
  justify-content: center;
  margin: -5%;
}

.picture img{
  width: 53%;
  height: 155px;
}

/*-----------------DIFFERENTE SERVICES------------*/
.all_services{
  display: flex;
  flex-direction: column;
  position: relative;
  left: 43%;
}

.description_services{
  text-align: center;
}

.different_services{
  width: 320px;
display: flex;
flex-direction: column;
margin:0;
}

/*----------------------ICONE---------------------*/
.icone_services{
  position: relative;
  top: 2%;
  left: 34%;
  width: 45px;
  height: 45px;
}

.icone_services i {
  font-size: 20px;
}

.round1{
  width: 10px;
  height: 10px;
  left: 45%;
}

/*-----------------------SECTION PROJET----------------*/

.image{
  display: block;
  margin-left: -15px;
}

figure img{
  width: 250px;
}

figcaption{
  opacity: 1;
}


/*-------------------SECTION CONTACT--------------------*/
#contact{
}

.maps, .filter {
  width: 320px;
}


/*--------------FORMULAIRE-----------------*/
.all{
  position: initial;
  left: -9%;
  margin-top: -5px;
  width: 305px
}

.address h2{
  text-align: center;
  margin-left: -23%;
}

.address p{
  text-align: center;
  margin-left: -20%;
}

.form{
  margin-left: -2%;
}


#name, #email, #subject, #commentaire{
  width: 77%;
}

#send{
  font-size: 11px;
  width: 29%;
  height: 33px;

}
}
 
