#page_block{
    background-color: pink;
}

#header{
    background-color: red;

}
.menu{
  background-color: green;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90px;
}

/*NAV + SLIDER*/
.burger{
  display: none;
}

nav {
  display: flex;
  align-items: center;
}

nav ul{
  list-style-type: none;
}

nav a{
  text-decoration: none;
}
nav i {
  margin-right: 30px;
}

#home{
    background:url(images/slider/bg1.jpg);
    background-position: center;
    height: 550px;
    display: flex;
    align-items: center;
}

.title h1{
  font-weight: bold;
  width: 70%;
}

.title{
  margin-left: 80px;
}

.informations{
  background-color: #5badd3;
  color: #ffffff;
  width: 90px;
  height: 30px;
  border: 1px solid #5badd3;
  border-radius: 3px / 3px;
  text-align: center;
  font-weight: bold;
  color: white;
}
.informations a{
  text-decoration: none;
}

/*SERVICES*/

#services{
  height: 450px;
}

.services_title {
  font-size: 1.5em;
}

#services{
  background-color: yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service_title h2{
  margin-bottom: 5px;
  font-size: 35px;
}

.service_title p{
  margin-top: 10px;
  margin-left: 25px;
}

.benefit{
  display: flex;
  justify-content: space-around;
}

.picture img{
  margin-left: -330px;
}

.different_services{
  margin-left: 190px;
  margin-top: 35px;
}

#project{
  background-color: red;
}

.project_title{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*SEPARATEUR*/
.space{
  display: flex;
  justify-content: center;
  align-items: center;

  
}

.space_bar{
  background-color: #ededed;
  width: 120px;
  height:0.6px;

}

.round{
  background-color: #5badd3;
  width: 15px;
  height: 15px;
  border-radius: 50px / 50px;
  border: solid 6px #ffffff;
}

/*TAB*/
.tab{
  background-color: orange;
  display: flex;
  justify-content: center;
}

.tab ul{
  display: flex;
  list-style-type: none;
}

.tab a{
  text-decoration: none;
}
.tab li {
  margin-right: 30px;
}

/*LEGENDE*/

.image_project{
  display: flex;
  flex-wrap: wrap;

}

figcaption {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(24,24,24,0.6);
  color: white;
  height: 50px;
  margin-top: -75px;

}


.project_images{
    width: 250px;
    height: 175px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: 20px;

}

/*SECTION CONTACT*/

#contact{
    background-color: #693fc1;
    display: flex;
    justify-content: flex-end;
    height: 550px;
}

.all{
    background-color: #c61d6f;
    width: 330px;
    margin-right: 250px;
    padding-left: 25px;
}

.address{
    background-color: azure;
}

.form{
    margin-right: 200px;
    width: 330px;
    height: 345px;
    background-color: coral;
}

#name, #email, #subject{
    width: 300px;
    margin-bottom: 10px;
    height: 25px;
    border-radius: 5px / 5px;
    font-size: 0.8em;
}

 #commentaire{
    width: 300px;
    margin-bottom: 10px;
    height: 150px;
    border-radius: 5px / 5px;
    font-size: 0.9em;
 }

#send{
    width: 100px;
    height: 300px;
    font-size: 1em;
}


@media screen and (max-width: 320px){

/*NAVIGATION*/
body
{
  background:#fff;
  margin:0;
  padding:0;
}

nav a
{
  color:#fff;
  text-decoration:none;
}

.material-icons
{
  font-size:24px;
  margin-right:12px;
  vertical-align:text-bottom;
}

.menu
{
  display: block;
  background:#5badd3;
  color:#fff;
  height:50px;
  position:relative;

}

.menu .title
{
  font-size:30px;
  font-weight:bold;
  line-height:50px;
  padding:0 20px;
  text-transform:uppercase;
}

.menu nav
{
  background:inherit;
  font-size:20px;
  font-weight:bold;
  height:0;
  overflow:hidden;
  text-transform:uppercase;
  transition:height .2s;
}

.menu nav > *
{
  display:block;
  letter-spacing:1px;
  line-height:2.5;
  padding:0 20px;
  width:100%;
}

.menu nav input
{
  background:rgba(0,0,0,.2);
  border:none;
  color:#fff;
}

.menu .burger
{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  color:inherit;
  cursor:pointer;
  font-size:30px;
  line-height:50px;
  margin:0;
  outline:0;
  padding:0;
  position:absolute;
  text-align:center;
  top:0;
  right:10px;
  width:50px;
}

.menu .burger:before
{
  content:'menu';
}

.menu .burger:checked:before
{
  content:'close';
}

.menu .burger:checked + nav
{
  height:calc(100vh - 50px);
}

/*HEADER*/

.menu{
  height: 50px;
}

.logo img{
  width: 180px;
}

#home{
  background-size: cover;
  height: 140px;
  margin-top: 140px
}


.title {
  font-size: 13px;
  margin-top: -250px;
  margin-left: 10px;
  text-align: center;

}

.title h1{
  width: 100%;
  font-size: 13px;
}

.informations{
  background-color: #5badd3;
  width: 90px;
  height: 30px;
  border: 1px solid #5badd3;
  border-radius: 3px / 3px;
  margin-left: 110px;
}

#services{
  height: 550px;
}

.benefit{
  display: block;
}

.picture img{
  margin-left: 20px;
  width: 250px;
}

.different_services{
margin-left: 110px;
}

.space_bar{
  width: 50px;
}

.tab li {
  flex-wrap: wrap;
  margin-right: 50px;
}

.project_images{
    margin-top: 5px;
    margin-bottom: 0px;
}

#contact{
    background-color: #693fc1;
    width: auto;
    display: flex;
    flex-direction: column;
}

.all{
    background-color: #c61d6f;
}

.address{
    background-color: azure;
}

.form{
    background-color: coral;
}

#name, #email, #subject{
    border-radius: 5px / 5px;
    font-size: 0.8em;
    width: 250px;
}

 #commentaire{
    border-radius: 5px / 5px;
    font-size: 0.9em;
    width: 250px;
 }

#send{
    font-size: 1em;
    height: 50px;
}

}
