#page_block{
    margin:  0px;
    padding: 0px;
    
}
#header{
    background-color: pink;
    margin-bottom: 60px;
}

/*Logo + Nav*/
.first_part_header{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

/*Navigation*/
nav ul{
    list-style-type: none;
    display: flex;
}
nav li{
    margin-right: 50px;
}

/*Slider*/
#Home{
    background:url('images/slider/bg1.jpg') no-repeat;
    background-size: cover;
    height:450px;
}

.Title {
    display: flex;
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 3%;
    position: relative;
    top:25%;
    left: 8%;
}

.Title h1{
    width: 40.5%;
    margin-bottom: 0px;
}

.Title p{
    width: 65%;
    margin-bottom: 0px;
}

@media screen and (max-width:400px){
/*nav*/
    nav{
        width: auto;
        text-align: left;
    }
    
    nav ul{
        flex-direction: column;
    }
    
    nav li{
        padding-left: 4px;
    }
    
    nav a{
        font-size: 1.1em;
    }
    
    nav a:hover{
        border-bottom: 0;
        }

    #Home{
        height: auto;
    }
}
